USE [E_LEARNING_DB]
GO
ALTER TABLE [dbo].[Blogs] DROP CONSTRAINT [FK_Blogs_Users]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__CreatedAt__398D8EEE]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__Role__38996AB5]
GO
ALTER TABLE [dbo].[Blogs] DROP CONSTRAINT [DF__Blogs__CreatedAt__3D5E1FD2]
GO
ALTER TABLE [dbo].[Blogs] DROP CONSTRAINT [DF__Blogs__IsDeleted__3C69FB99]
GO
/****** Object:  Index [UQ__Users__A9D105345BC66CB0]    Script Date: 09/01/2026 21:14:05 ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__A9D105345BC66CB0]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/01/2026 21:14:05 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 09/01/2026 21:14:05 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Blogs]') AND type in (N'U'))
DROP TABLE [dbo].[Blogs]
GO
USE [master]
GO
/****** Object:  Database [E_LEARNING_DB]    Script Date: 09/01/2026 21:14:05 ******/
DROP DATABASE [E_LEARNING_DB]
GO
/****** Object:  Database [E_LEARNING_DB]    Script Date: 09/01/2026 21:14:05 ******/
CREATE DATABASE [E_LEARNING_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'E_LEARNING_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\E_LEARNING_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'E_LEARNING_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\E_LEARNING_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [E_LEARNING_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [E_LEARNING_DB]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 09/01/2026 21:14:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ThumbnailUrl] [nvarchar](500) NULL,
	[AuthorId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/01/2026 21:14:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blogs] ON 

INSERT [dbo].[Blogs] ([Id], [Title], [Content], [ThumbnailUrl], [AuthorId], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (1, N'Bai viet 1 - UPDATED', N'Noi dung da cap nhat', N'https://example.com/img1-new.png', 1, 1, CAST(N'2026-01-08T11:10:17.5860878' AS DateTime2), CAST(N'2026-01-08T11:18:08.7476632' AS DateTime2))
INSERT [dbo].[Blogs] ([Id], [Title], [Content], [ThumbnailUrl], [AuthorId], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (2, N'Bai viet 2', N'', N'https://example.com/img1.png', 1, 0, CAST(N'2026-01-08T11:14:10.9878787' AS DateTime2), CAST(N'2026-01-09T13:51:37.3444849' AS DateTime2))
INSERT [dbo].[Blogs] ([Id], [Title], [Content], [ThumbnailUrl], [AuthorId], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (3, N'Test Blog', N'Hello World', NULL, 1, 1, CAST(N'2026-01-09T11:51:40.8555549' AS DateTime2), CAST(N'2026-01-09T11:53:10.5963211' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [FullName], [Role], [CreatedAt]) VALUES (1, N'admin@gmail.com', N'123456', N'Admin', N'ADMIN', CAST(N'2026-01-08T09:47:33.7666093' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [FullName], [Role], [CreatedAt]) VALUES (2, N'user@gmail.com', N'123456', N'User', N'USER', CAST(N'2026-01-08T09:47:33.7666093' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105345BC66CB0]    Script Date: 09/01/2026 21:14:05 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('USER') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_Blogs_Users] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_Blogs_Users]
GO
USE [master]
GO
